<div class="container">
  <div class="content">
  <h1>Some page content</h1>
  <a href="https://www.google.com">Google</a>
    <p>
  {{ lorem | async }}
    </p>
  </div>
  <div class="tabbar-body">
    <div class="tab-content" #draggable>
      <div class="container">
        <h1>Tab content</h1>
        <p>{{ lorem | async }}</p>
      </div>
    </div>
    <div class="container">
      <div class="tabbar" #anchor>
        <button (click)="toggleDraggable()" [ngClass]="{ 'extended': $extended | async }">🠉</button>
      </div>
    </div>
  </div>
</div>

